# IndividualProject2_MHZ
---
**Author:** Haziq Zed  
**Version:** 1.0  
**Semester:** Spring 2021  

This *notebook* contains my solution to **IndividualProject2_MHZ**

In [34]:
import pandas as pd

**1. Using the read_csv function to read the dataset into a variable df.**

In [35]:
df = pd.read_csv('weather_2012.csv')

**2. Using the head( ) function to display the first five rows of the dataset.**

In [36]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

**Using the tail( ) function to display the last five rows of the dataset.**

In [37]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

**Using the sample(5) function to display five random rows in the dataset.**

In [38]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
6820,2012-10-11 04:00:00,6.0,3.2,82,26,25.0,100.68,Mostly Cloudy
3454,2012-05-23 22:00:00,19.6,10.3,55,7,25.0,101.21,Clear
3000,2012-05-05 00:00:00,8.4,4.1,74,4,25.0,101.25,Mainly Clear
1701,2012-03-11 21:00:00,4.8,-1.6,63,13,25.0,101.72,Mainly Clear
164,2012-01-07 20:00:00,-1.8,-3.7,87,4,9.7,100.48,Snow

**3. Using the .columns function to list all the columns of the dataset.**

In [39]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

**4. Making a new list of column names to make it easier to use for coding purposes and renaming the dataset with this new list of columns, but saving the original list of columns to be put back in at the end of the program.**

In [40]:
col_names = [
    'date_time',
    'temp_c',
    'dew_point',
    'relative_humidity',
    'wind_speed',
    'visibility',
    'pressure',
    'weather'
]

In [41]:
ori_col_names = list(df.columns)

In [42]:
df.columns = col_names

In [43]:
df.head()

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

**5. Using the .describe( ) function to display some standard statistical data for each column.**

In [44]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

**6. Adding a new column temp_f that consists of the temperartures that have been converted from Celsius to Farenheit.**

In [45]:
df['temp_f'] = (df.temp_c * 1.8 + 32)

**7. Rearranging columns to place temp_f a column before temp_c.**

In [46]:
df.columns

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather', 'temp_f'],
      dtype='object')

In [47]:
df = df[['date_time', 'temp_f', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather']]

In [48]:
df.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

**8. Using .dtypes to display the data types of all the columns in the dataset.**

In [49]:
df.dtypes

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

**9. Using the to_datetime( ) function to convert the date_time column from an pbject to a datetime data type.**

In [50]:
df.date_time = pd.to_datetime(df.date_time)

In [51]:
df.dtypes

date_time            datetime64[ns]
temp_f                      float64
temp_c                      float64
dew_point                   float64
relative_humidity             int64
wind_speed                    int64
visibility                  float64
pressure                    float64
weather                      object
dtype: object

**10. Chaining the .groupby and .mean functions to calculate the mean of the temperatures each month, and putting this data into a new dataframe called monthly_avg.**

In [52]:
monthly_avg = df.temp_f.groupby(df.date_time.dt.month).mean()

In [53]:
monthly_avg = pd.DataFrame(monthly_avg)

**11., 12. & 13. Using the index values to create a new column called month which contains the numbers of the months from 1-12. Then, rearranging the columns to have the month column before the temp_f column. Lastly, renaming the index to an empty name.**

In [54]:
monthly_avg['month'] = monthly_avg.index
monthly_avg = monthly_avg[['month','temp_f']]
monthly_avg.index.names = ['']
monthly_avg

    month     temp_f

1       1  18.731290
2       2  24.395000
3       3  37.618226
4       4  44.616750
5       5  61.227984
6       6  68.241250
7       7  73.022097
8       8  72.102742
9       9  61.672000
10     10  51.718952
11     11  33.676500
12     12  26.048629

**14. Creating a dictionary where the key is the month number and the value is the corresponding name of the month. Then, defining a mapper function. And then using the .apply( ) function to convert the month number to month name using the function defined.**

In [55]:
month_dates = {1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May',
            6: 'June', 7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'}

def mapper(month):
    '''This function accepts the month number and returns the 
    month name from the dictionary month_dates'''
    return month_dates[month]

monthly_avg['month'] = monthly_avg['month'].apply(mapper)

In [56]:
monthly_avg

        month     temp_f

1     January  18.731290
2    February  24.395000
3       March  37.618226
4       April  44.616750
5         May  61.227984
6        June  68.241250
7        July  73.022097
8      August  72.102742
9   September  61.672000
10    October  51.718952
11   November  33.676500
12   December  26.048629

**15. Using the same .groupby and .mean functions to find the average of temp_f for the different hours of the day.**

In [57]:
hourly_avg = df.temp_f.groupby(df.date_time.dt.hour).mean()

In [58]:
hourly_avg

date_time
0     45.623443
1     44.762787
2     43.980820
3     43.325246
4     42.744426
5     42.291967
6     42.859508
7     43.831311
8     45.280656
9     46.987213
10    48.699672
11    50.193770
12    51.541803
13    52.508689
14    53.196721
15    53.391475
16    53.178033
17    52.297705
18    51.181311
19    50.041311
20    48.848197
21    47.851803
22    47.064918
23    46.397049
Name: temp_f, dtype: float64

**16. Renaming the index of the series to Hour, then converting all the entries in the index to a string datatype to be used in the next code.**

In [59]:
hourly_avg.index.names = ['Hour']
hourly_avg.index = hourly_avg.index.astype(str)
hourly_avg.index

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'],
      dtype='object', name='Hour')

**17. Creating a dictionary where the key is the hour and the value is the time represented in Standard Time format. Then, defining a function mapper2 to make the conversion. Lastly, using the .map( ) function to apply the mapper2 function for the entries in the index.**

In [60]:
hour_std = {'0':'12:00AM', '1':'1:00AM', '2':'2:00AM', '3':'3:00AM', '4':'4:00AM', '5':'5:00AM', 
           '6':'6:00AM', '7':'7:00AM', '8':'8:00AM', '9':'9:00AM', '10':'10:00AM', '11':'11:00AM', 
           '12':'12:00PM', '13':'1:00PM', '14':'2:00PM', '15':'3:00PM', '16':'4:00PM', '17':'5:00PM', 
           '18':'6:00PM', '19':'7:00PM', '20':'8:00PM', '21':'9:00PM', '22':'10:00PM', '23':'11:00PM', }

def mapper2(hour):
    '''This function accepts the hour number and returns
    the time in the Standard Time format using the dictionary
    hour_std'''
    return hour_std[hour]

hourly_avg.index = hourly_avg.index.map(mapper2)

In [61]:
hourly_avg

Hour
12:00AM    45.623443
1:00AM     44.762787
2:00AM     43.980820
3:00AM     43.325246
4:00AM     42.744426
5:00AM     42.291967
6:00AM     42.859508
7:00AM     43.831311
8:00AM     45.280656
9:00AM     46.987213
10:00AM    48.699672
11:00AM    50.193770
12:00PM    51.541803
1:00PM     52.508689
2:00PM     53.196721
3:00PM     53.391475
4:00PM     53.178033
5:00PM     52.297705
6:00PM     51.181311
7:00PM     50.041311
8:00PM     48.848197
9:00PM     47.851803
10:00PM    47.064918
11:00PM    46.397049
Name: temp_f, dtype: float64

**18. Using the .groupby and .count functions to display the different weather designations from the weather column.**

In [62]:
df.weather.groupby(df.weather).count()

weather
Clear                                      1326
Cloudy                                     1728
Drizzle                                      41
Drizzle,Fog                                  80
Drizzle,Ice Pellets,Fog                       1
Drizzle,Snow                                  2
Drizzle,Snow,Fog                             15
Fog                                         150
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Freezing Drizzle,Haze                         3
Freezing Drizzle,Snow                        11
Freezing Fog                                  4
Freezing Rain                                14
Freezing Rain,Fog                             4
Freezing Rain,Haze                            2
Freezing Rain,Ice Pellets,Fog                 1
Freezing Rain,Snow Grains                     1
Haze                                         16
Mainly Clear                               2106
Moderate Rain,Fog                             1
Moderate Snow                                 4
Moderate Snow,Blowing Snow                    2
Mostly Cloudy                              2069
Rain                                        306
Rain Showers                                188
Rain Showers,Fog                              1
Rain Showers,Snow Showers                     2
Rain,Fog                                    116
Rain,Haze                                     3
Rain,Ice Pellets                              1
Rain,Snow                                    18
Rain,Snow Grains                              1
Rain,Snow,Fog                                 1
Rain,Snow,Ice Pellets                         4
Snow                                        390
Snow Pellets                                  1
Snow Showers                                 60
Snow Showers,Fog                              4
Snow,Blowing Snow                            19
Snow,Fog                                     37
Snow,Haze                                     5
Snow,Ice Pellets                              6
Thunderstorms                                 2
Thunderstorms,Heavy Rain Showers              1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers                   16
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain,Fog                        1
Name: weather, dtype: int64

**19. & 20. Using the .tolist function to make a new list containing all the data from the weather column. Then, using list comprehension to create another list that removes all the duplicate data, and then using the sorted( ) function to sort the data in alphabetically ascending order.**

In [63]:
dweather = df.weather.tolist()
weather = [] 
[weather.append(x) for x in dweather if x not in weather]
weather = sorted(weather)
weather

['Clear',
 'Cloudy',
 'Drizzle',
 'Drizzle,Fog',
 'Drizzle,Ice Pellets,Fog',
 'Drizzle,Snow',
 'Drizzle,Snow,Fog',
 'Fog',
 'Freezing Drizzle',
 'Freezing Drizzle,Fog',
 'Freezing Drizzle,Haze',
 'Freezing Drizzle,Snow',
 'Freezing Fog',
 'Freezing Rain',
 'Freezing Rain,Fog',
 'Freezing Rain,Haze',
 'Freezing Rain,Ice Pellets,Fog',
 'Freezing Rain,Snow Grains',
 'Haze',
 'Mainly Clear',
 'Moderate Rain,Fog',
 'Moderate Snow',
 'Moderate Snow,Blowing Snow',
 'Mostly Cloudy',
 'Rain',
 'Rain Showers',
 'Rain Showers,Fog',
 'Rain Showers,Snow Showers',
 'Rain,Fog',
 'Rain,Haze',
 'Rain,Ice Pellets',
 'Rain,Snow',
 'Rain,Snow Grains',
 'Rain,Snow,Fog',
 'Rain,Snow,Ice Pellets',
 'Snow',
 'Snow Pellets',
 'Snow Showers',
 'Snow Showers,Fog',
 'Snow,Blowing Snow',
 'Snow,Fog',
 'Snow,Haze',
 'Snow,Ice Pellets',
 'Thunderstorms',
 'Thunderstorms,Heavy Rain Showers',
 'Thunderstorms,Moderate Rain Showers,Fog',
 'Thunderstorms,Rain',
 'Thunderstorms,Rain Showers',
 'Thunderstorms,Rain Showers,Fog',
 'Thunderstorms,Rain,Fog']

**21. Using the .insert function to add a new element in the list of original column names in the right position. Then, renaming the dataset columns with the original and updated list of columns.**

In [64]:
ori_col_names.insert(1,"Temp (F)")

In [65]:
df.columns = ori_col_names

In [66]:
df.head()

,Date/Time,Temp (F),Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

**22. Using the .to_csv function to save the updated dataset as a new csv file without the index.**

In [323]:
df.to_csv('weather_2012_new.csv', index = False)